/*navbar and footer background*/
.brand-gradient {
    background: linear-gradient(135deg, #4b1d6f, #0a2a66);
}

/*logo*/

.site-logo {
    height: 70px;
    max-width: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .site-logo {
        height: 55px;
    }
}

/* Optional - makes logo stand out more on gradient */
header {
    background: rgba(0, 0, 0, 0.12);
}
/*Navbar*/
.navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.85);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #ff4fd8;
}
