/*navbar and fotter background*/
.brand-gradient {
    background: linear-gradient(135deg, #4b1d6f, #0a2a66);
}

/*logo*/
.site-logo {
    height: 80px; 
    max-width: 200px; 
}

/*Navbar link*/
.navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.85);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #ff4fd8;
}
